@page "/"

<h1>Welcome</h1>

<p>This is a simple demonstration of a few core Blazor concepts.</p>

<h3>Server Prerendering</h3>

<p>The app is <strong class="font-semibold">pre-rendered</strong>, so when you launch the app via the Server project it actually compiles first on the server. 
    Then once that's been served to the browser the browser loads Blazor WASM for future interactions.</p>

<h3>Dark Mode (via Tailwind CSS)</h3>

<p>There's also a handy "dark mode" toggle (check out the sun/moon icon top right).</p>